.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  background: black;
  .left-links {
    .nav-link {
      display: flex;
      gap: 20px;
      margin: 0;
      .link-item {
        text-decoration: none;
        color: white;
      }
    }
  }
  .logo {
    .nav-brands {
      text-decoration: none;
      color: white;
      font-size: 25px;
    }
  }
  .right-links {
    .nav-link {
      display: flex;
      gap: 20px;
      margin: 0;
      .cart {
        position: relative;
        span {
          position: absolute;
          top: -12px;
          right: -7px;
          background: goldenrod;
          padding: 2px;
          border-radius: 10px;
          font-size: 13px;
          font-weight: 600;
        }
        i {
          color: white;
        }
      }
      .link-item {
        text-decoration: none;
        color: white;
      }
    }
  }
}
