* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

button {
  padding: 10px;
  outline: none;
  border: none;
  text-align: center;
  background: peru;
  color: white;
  width: 200px;
  margin: 20px;
}
